name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_ACCESS_TOKEN }}
        run: |
            git add .
            git commit --author="merveenoyan <merveenoyan@gmail.com>" -m "commit through github actions"
            git push https://merve:$HF_ACCESS_TOKEN@huggingface.co/spaces/dummy-gaction main
